/build/
.gradle/
.cxx/
.externalNativeBuild/
captures/

local.properties

.idea/
*.iml
*.ipr
*.iws
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml

.DS_Store
secrets.properties


*.log